# Part 1: Variables and Data Types

1. Create and Display Variables

    Create variables to store the following information:
        Your name (string)
        Your age (integer)
        Your height in meters (float)
        Whether you are a student (boolean)
   
    Print each variable with an appropriate label

In [34]:
name = "Karthika Krishnan"
age = 26
height = 1.50
student = False

print(f"Name : {name}")
print(f"Age : {age}")
print(f"Height : {height}")
print(f"Student : {student}")

Name : Karthika Krishnan
Age : 26
Height : 1.5
Student : False

2. Create three variables representing a data pipeline's name, version, and status (Running/Failed). Print them in a structured message.

In [35]:
pipeline_name = "Pipeline A"
pipeline_version = "v1.0"
pipeline_status = "Running" 

print(f"Pipeline Name: {pipeline_name}")
print(f"Pipeline Version: {pipeline_version}")
print(f"Pipeline Status: {pipeline_status}")

Pipeline Name: Pipeline A
Pipeline Version: v1.0
Pipeline Status: Running

3. Store API credentials (API Key, Secret Key) in a tuple and print them.

In [46]:
api_credentials = ("api_key_12345", "secret_key#2_")

print(f"API Key: {api_credentials[0]}")
print(f"Secret Key: {api_credentials[1]}")

API Key: api_key_12345
Secret Key: secret_key#2_

4. Create variables for the following:
    amount = 123.45
    is_valid = True
    customer_name = "Alice"
    items = 5
    Use the type() function to display the data type of each variable.

In [47]:
amount = 123.45
is_valid = True
customer_name = "Alice"
items = 5

print(type(amount))
print(type(is_valid))
print(type(customer_name))
print(type(items))

<class 'float'>
<class 'bool'>
<class 'str'>
<class 'int'>

# Part 2: Print Statements and Formatting

3. Formatted Printing
   
Create the following variables:
    product_name
    price = 999.99
    quantity = 2
Print a message formatted as
You purchased 2 Laptop(s) for $999.99 each.

In [49]:
product_name = "Laptop"
price = 999.99
quantity = 2

print(f"You purchased {quantity} {product_name}(s) for ${price} each.")

You purchased 2 Laptop(s) for $999.99 each.

# Part 3: Arithmetic Operations and Rounding

## Rounding to Two Decimal Places

Write a program that calculates the total cost of items with tax:
    item_cost = 19.99
    tax_rate = 0.075 (7.5%)

Calculate the total cost (item_cost + (item_cost * tax_rate)) and display it rounded to 2 decimal places.
Expected Output:

Total cost: $21.49

In [57]:
item_cost = 19.99
tax_rate = 0.075
print(f"${round(item_cost + (item_cost * tax_rate),2)}")

$21.49

# Percentage Calculation

Calculate the percentage of marks scored by a student:
    total_marks = 500
    marks_scored = 435
    
Calculate and print the percentage rounded to 2 decimal places.
** Expected Output:**

Percentage: 87.00%

In [70]:
total_marks = 500
marks_scored = 435

print(f"{(marks_scored/total_marks)*100:.2f}%")

87.00%

# Temperature Conversion

Write a program to convert temperature from Celsius to Fahrenheit:
Formula: 

Create a variable temp_celsius and set it to 37.
Calculate and print the temperature in Fahrenheit rounded to 1 decimal place.

In [ ]:
temp_celsius = 37
f{temp_celsius * (9/5) + 32:.1f}